@model IEnumerable<SalonSamochodowy.Models.Samochod_fabryka>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_fabryki)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Typ_wyposazenia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pojemnosc_silnika)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data_produkcji)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Moc_silnika)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cena_fabryka)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_fabryki)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Typ_wyposazenia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pojemnosc_silnika)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data_produkcji)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Moc_silnika)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cena_fabryka)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
