@model IEnumerable<SalonSamochodowy.Models.Samochod>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Marka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Typ_wyposazenia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data_produkcji)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pojemnosc_silnika)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Moc_silnika)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_dostawy)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Typ_wyposazenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_produkcji)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pojemnosc_silnika)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Moc_silnika)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_dostawy)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @if (item.Status != "Sprzedany")
                {
                    @Html.ActionLink("Sprzedaj", "Create", "Zakup", new { id = item.Id }, null)
                }
            </td>
        </tr>
    }

</table>
