@model IEnumerable<SalonSamochodowy.Models.Samochod>

@{
    ViewBag.Title = "Index";
}
@{ int rowNo = 0; }

<div class="text-center">
    <h2>Auta w salonie</h2>
</div>

<table class="table table-striped">
    <tr>
        <th>
            Nr
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data_produkcji)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pojemnosc_silnika)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Moc_silnika)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_dostawy)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @(rowNo += 1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_produkcji)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pojemnosc_silnika)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Moc_silnika)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_dostawy)
            </td>
            @if (item != null)
            {
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }, new { @class = "btn btn-warning"}) 
                @Html.ActionLink("Sprzedaj", "Create", "Zakup", new { id = item.Id }, new { @class = "btn btn-default"})
            </td>
            }
        </tr>
    }

</table>
