@model IEnumerable<SalonSamochodowy.ViewModels.SprzedanySamochodViewModel>

@{
    ViewBag.Title = "Sellout";
}
@{ int rowNo = 0; }
<div class="text-center">
    <h2>Sprzedane samochody</h2>
</div>

<table class="table table-striped">
    <tr>
        <th>
            Nr
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pojemnosc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MocSilnika)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataProdukcji)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImieKlienta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NazwiskoKlienta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PESEL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @(rowNo += 1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pojemnosc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MocSilnika)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataProdukcji)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImieKlienta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NazwiskoKlienta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PESEL)
        </td>
        @if(item!=null)
        {
        <td>
            @Html.ActionLink("Naprawa", "Create", "Naprawa", new { id=item.Id }, new { @class = "btn btn-warning"}) 
        </td>
        }
    </tr>
}

</table>
