@model IEnumerable<SalonSamochodowy.Models.Fabryka>

@{
    ViewBag.Title = "Index";
}

<div class="text-center">
    <h2>Fabryki</h2>
    @Html.ActionLink("Dodaj fabrykę", "Create", null, new { @class = "btn btn-success" })
</div>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adres)
        </th>
        <th>
            <label>Numer telefonu</label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nr_telefonu)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
            </td>
        </tr>
    }

</table>
