@model SalonSamochodowy.ViewModels.ZamowienieViewModel

@{
    ViewBag.Title = "Create";
}

<div class="text-center">
    <h2>Dodaj zamówienie</h2>
</div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="text-center">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="text-center">
            @Html.LabelFor(model => model.Ilosc_zamowionych, htmlAttributes: new { @class = "text-center" })<br/>
            <div class="text-center">
                @Html.EditorFor(model => model.Ilosc_zamowionych, new { htmlAttributes = new { @class = "text-center" } })<br />
                @Html.ValidationMessageFor(model => model.Ilosc_zamowionych, "", new { @class = "text-danger" })<br />
            </div>
        </div>

        <div class="text-center">
            @Html.LabelFor(model => model.Data_zamowienia, htmlAttributes: new { @class = "text-center" })<br />
            <div class="text-center">
                @Html.EditorFor(model => model.Data_zamowienia, new { htmlAttributes = new { @class = "text-center" } })<br />
                @Html.ValidationMessageFor(model => model.Data_zamowienia, "", new { @class = "text-danger" })<br />
            </div>
        </div>

   
        <div class="text-center">
            @Html.LabelFor(m => m.SamochodyFabryczne, new { @class = "text-center" })<br />
            <div class="text-center">
                @Html.DropDownList("Id_samochodu_fabryka", Model.SamochodyFabryczne, "Wybierz")
            </div>
        </div>
        <br />

        <div class="text-center">
            <div class="text-center">
                <input type="submit" value="Dodaj zamówienie" class="btn btn-success" />
            </div>
        </div>
    </div>
}
