@model SalonSamochodowy.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Logowanie";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Zaloguj się</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>

        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="text-center">
                <h3>Zaloguj się</h3>
                <hr />
                <br/>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="text-center">
                    @Html.LabelFor(model => model.PESEL, htmlAttributes: new { @class = "control-label" })
                    <br/>
                    <div class="">
                        @Html.EditorFor(model => model.PESEL, new { htmlAttributes = new { @class = "" } })
                        @Html.ValidationMessageFor(model => model.PESEL, "", new { @class = "text-danger" })
                    </div>
                </div>


                <br/>
                <div class="text-center">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br/>
                <div class="text-center">
                        <input type="submit" value="Zaloguj się" class="btn btn-success" />
                </div>
            </div>
        }
    </div>
</body>
</html>
