<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Strona główna", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Samochody", "Index", "Car")</li>
                    <li>@Html.ActionLink("Dostawy", "Index", "Dostawa")</li>
                    <li>@Html.ActionLink("Działy", "Index", "Dzial")</li>
                    <li>@Html.ActionLink("Fabryki", "Index", "Fabryka")</li>
                    <li>@Html.ActionLink("Klienci", "Index", "Klient")</li>
                    <li>@Html.ActionLink("Naprawy", "Index", "Naprawa")</li>
                    <li>@Html.ActionLink("Pracownicy", "Index", "Pracownik")</li>
                    <li>@Html.ActionLink("Usterki", "Index", "Usterka")</li>
                    <li>@Html.ActionLink("Zakupy", "Index", "Zakup")</li>
                    <li>@Html.ActionLink("Zamówienia", "Index", "Zamowienie")</li>
                    <li>@Html.ActionLink("Wyloguj się", "Logout", "Login")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
