@model IEnumerable<SalonSamochodowy.Models.Pracownik>

@{
    ViewBag.Title = "Details";
}
@{ int rowNo = 0; }
<div class="text-center">
    <h2>Pracownicy działu</h2>
</div>

<table class="table">
    <tr>
        <th>
            Nr
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data_zatrudnienia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Do_kiedy_zatrudniony)
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @(rowNo += 1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nazwisko)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data_zatrudnienia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Do_kiedy_zatrudniony)
        </td>

    </tr>
}

</table>
