@model IEnumerable<SalonSamochodowy.Models.Dzial>

@{
    ViewBag.Title = "Index";
}
@{ int rowNo = 0; }
<div class="text-center">
    <h2>Wszystkie działy</h2>
    <p>
        @Html.ActionLink("Dodaj nowy dział", "Create", null, new { @class = "btn btn-success" })
    </p>
</div>
    <table class="table table-striped">
        <tr>
            <th>
                Nr
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(rowNo += 1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nazwa)
                </td>
                @if (User.IsInRole("Admin") || User.IsInRole("Superadmin"))
                {
                    <td>
                        @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Pracownicy", "Details", "Dzial", new { id = item.Id }, new { @class = "btn btn-default" })
                    </td>
                }
            </tr>
        }

    </table>

