@model SalonSamochodowy.Models.Dostawa

@{
    ViewBag.Title = "Create";
}


<div class="text-center">
    <h2>Dodaj dostawę</h2>
</div>

@using (Html.BeginForm("Create", "Dostawa", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="text-center">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group hide">
            @Html.LabelFor(model => model.Id_zamowienia, htmlAttributes: new { @class = "control-label col-md-2" })<br />
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id_zamowienia, new { htmlAttributes = new { @class = "form-control" } })<br />
                @Html.ValidationMessageFor(model => model.Id_zamowienia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="text-center">
            @Html.LabelFor(model => model.Data_dostawy, htmlAttributes: new { @class = "control-label" })<br/>
            <div class="">
                @Html.EditorFor(model => model.Data_dostawy, new { htmlAttributes = new { @class = "" } })<br />
                @Html.ValidationMessageFor(model => model.Data_dostawy, "", new { @class = "text-danger" })
            </div>
        </div>
        <br/>
        <div class="text-center">
            @Html.LabelFor(model => model.Ilosc_dostarczonych, htmlAttributes: new { @class = "control-label" })<br/>
            <div class="">
                @Html.EditorFor(model => model.Ilosc_dostarczonych, new { htmlAttributes = new { @class = "" } })<br />
                @Html.ValidationMessageFor(model => model.Ilosc_dostarczonych, "", new { @class = "text-danger" })
            </div>
        </div>
        <br/>
        <div class="text-center">
                <input type="submit" value="Dodaj" class="btn btn-success" />
        </div>
    </div>
}
