@model SalonSamochodowy.Models.Klient

@{
    ViewBag.Title = "Create";
}
<div class="text-center">
    <h2>Dodaj klienta</h2>
</div>

@using (Html.BeginForm("Create", "Klient", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="text-center">
        <h4>Klient</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="text-center">
            @Html.LabelFor(model => model.Imie, htmlAttributes: new { @class = "control-label" })
            <br/>
            <div class="">
                @Html.EditorFor(model => model.Imie, new { htmlAttributes = new { @class = "" } })<br />
                @Html.ValidationMessageFor(model => model.Imie, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="text-center">
            @Html.LabelFor(model => model.Nazwisko, htmlAttributes: new { @class = "control-label" })
            <br />
            <div class="">
                @Html.EditorFor(model => model.Nazwisko, new { htmlAttributes = new { @class = "" } })<br />
                @Html.ValidationMessageFor(model => model.Nazwisko, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="text-center">
            @Html.LabelFor(model => model.Kod_pocztowy, htmlAttributes: new { @class = "control-label" })
            <br />
            <div class="">
                @Html.EditorFor(model => model.Kod_pocztowy, new { htmlAttributes = new { @class = "" } })<br />
                @Html.ValidationMessageFor(model => model.Kod_pocztowy, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="text-center">
            @Html.LabelFor(model => model.Miejscowosc, htmlAttributes: new { @class = "control-label" })
            <br />
            <div class="">
                @Html.EditorFor(model => model.Miejscowosc, new { htmlAttributes = new { @class = "" } })<br />
                @Html.ValidationMessageFor(model => model.Miejscowosc, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="text-center">
            @Html.LabelFor(model => model.Ulica, htmlAttributes: new { @class = "control-label" })
            <br />
            <div class="">
                @Html.EditorFor(model => model.Ulica, new { htmlAttributes = new { @class = "" } })<br />
                @Html.ValidationMessageFor(model => model.Ulica, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="text-center">
            @Html.LabelFor(model => model.Nr_domu, htmlAttributes: new { @class = "control-label" })
            <br />
            <div class="">
                @Html.EditorFor(model => model.Nr_domu, new { htmlAttributes = new { @class = "" } })<br />
                @Html.ValidationMessageFor(model => model.Nr_domu, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="text-center">
            @Html.LabelFor(model => model.Nr_telefonu, htmlAttributes: new { @class = "control-label" })
            <br />
            <div class="">
                @Html.EditorFor(model => model.Nr_telefonu, new { htmlAttributes = new { @class = "" } })<br />
                @Html.ValidationMessageFor(model => model.Nr_telefonu, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="text-center">
            @Html.LabelFor(model => model.PESEL, htmlAttributes: new { @class = "control-label" })
            <br />
            <div class="">
                @Html.EditorFor(model => model.PESEL, new { htmlAttributes = new { @class = "" } })<br />
                @Html.ValidationMessageFor(model => model.PESEL, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="text-center">
                <input type="submit" value="Dodaj klienta" class="btn btn-success" />
        </div>
    </div>
}
